body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #064318; /* Light Red background color */
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-box {
    width: 400px;
    background-color: #85C1A1; /* Green background color */
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    color: #fff;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="date"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .password-field {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    top: 68%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('image/eye.png');
    background-size: cover;
    cursor: pointer;
  }
  
  .eye-icon-active {
    background-image: url('image/eye.png');
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #065012; /* Dark Green background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  